.footer-wrap{
    background-color: #17171A;
    margin-top: 3.5rem;
    padding-block: 2rem 0.5rem;
}

.footer-content{
    margin-bottom: 1.5rem;
    width: 82.5%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link{
    font-size: 1rem;
    color: #DEDEDE;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
}

.copyright{
    font-size: 1rem;
    color: #DEDEDE;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    text-align: center;
}