<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
=======
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 16d57ac5f2635857a65eb64e734308d274b53b28
}