.nav-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:2;
}

.nav-flex{
    width: 100%;
    padding-block: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DFDCFE;
}

.logo{
    margin-left: 7.5%;
}

.dropdown-wrap{
    position: relative;
}

.dropdown{
    position: absolute;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    top: 120%;
    border-radius: 0.25rem;
    left: 2.5%;
    filter: brightness(90%);
    opacity: 0.95;
    background-image: linear-gradient(#FFFFFF 100%, #FFFFFF 93.95%, #DFDCFE 100%,#5F61A8 100%);
    transition: all 500ms;
}

.dropdown-off{
    position: absolute;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    top: 120%;
    border-radius: 0.25rem;
    left: 2.5%;
    filter: brightness(90%);
    transform: translateY(-150%);
    opacity: 0;
    background-image: linear-gradient(#FFFFFF 100%, #FFFFFF 93.95%, #DFDCFE 100%,#5F61A8 100%);
    transition: all 500ms;
}


.dropdown2{
    width: 10.5rem;
    position: absolute;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    top: 100%;
    border-radius: 0.25rem;
    right: -450%;
    filter: brightness(90%);
    opacity: 0.95;
    box-shadow: linear-gradient(#FFFFFF 100%, #FFFFFF 93.95%, #DFDCFE 100%,#5F61A8 100%) 10px;
    background-image: linear-gradient(#FFFFFF 100%, #FFFFFF 93.95%, #DFDCFE 100%,#5F61A8 100%);
    transition: all 500ms;
}

.rotate{
    transform: rotate(-180deg);
    transition: all 500ms;
}

.rotate2{
    transform: rotate(360deg);
    transition: all 500ms;
}

.rotate0{
    transform: rotate(0deg);
    transition: all 500ms;
}

.dropdown-off2{
    position: absolute;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    top: 100%;
    border-radius: 0.25rem;
    right: -450%;
    filter: brightness(90%);
    transform: translateY(-150%);
    opacity: 0;
    background-image: linear-gradient(#FFFFFF 100%, #FFFFFF 93.95%, #DFDCFE 100%,#5F61A8 100%);
    transition: all 500ms;
}

.dropdown-list{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #060132;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    line-height: 2.25rem;
}

.userFn{
    width: fit-content;
    position: absolute;
    top: 25%;
    right: 1%;
    transform: translate(-25%, -1%)
}

.user-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
}

.business{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 2.5px;
}

.review{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #060132;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    line-height: 1.25rem;
}

.display-wrap{
    margin-top: 2rem;
    width:  fit-content;
    margin-inline: auto;
}